hnlLastStopCellInfo = '(
                           ( "PRIMLIB" "pmos4" "auCdl" "47" "1490269046" )
                          ( "PRIMLIB" "nmos4" "auCdl" "47" "1490269042" )
                          ( "PRIMLIB" "short_via" "auCdl" "31" "1392802217" )
                          ( "PRIMLIB" "rpoly1c" "auCdl" "47" "1438684650" )
                          ( "PRIMLIB" "nwd" "auCdl" "29" "1424852050" )
                          ( "PRIMLIB" "rpoly2c" "auCdl" "46" "1438672177" )
                          ( "PRIMLIB" "subdiode" "auCdl" "29" "1424852053" )
                          ( "PRIMLIB" "welldiode" "auCdl" "29" "1424852057" )
                          ( "analogLib" "presistor" "auCdl" "27" "1725416589" )
                          ( "PRIMLIB" "rdiffp3" "auCdl" "39" "1438684629" )
                          ( "PRIMLIB" "presistor" "auCdl" "27" "1424852052" )
                          ( "PRIMLIB" "pcapacitor" "auCdl" "32" "1424852050" )
                          ( "PRIMLIB" "cpoly" "auCdl" "30" "1424852043" )
                          ( "PRIMLIB" "rpolyhc" "auCdl" "46" "1438672402" )
                          ( "PRIMLIB" "cvar" "auCdl" "43" "1340881455" )
                          ( "PRIMLIB" "vert10_4" "auCdl" "50" "1458908670" )
                       )
hnlLastTopViewWasConfig = 0
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastNetlistRevision = "__Revision2"
hnlLastOptimizeCellGenerationInConfig = nil
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "CORELIBD" "1329740398" )
                   ( "DIG_SPI" "1779178307" )
                   ( "ESDLIB" "1332848254" )
                   ( "IOLIB_ANA_4M" "1329741859" )
                   ( "IOLIB_4M" "1329741647" )
                   ( "VT26_IO_RING" "1779397177" )
                   ( "PRIMLIB" "1351690742" )
                   ( "POWER_TRACKS" "1778921371" )
                   ( "FECG" "1774076684" )
                   ( "FBIAS" "1776091560" )
                   ( "YAOWEN" "1780403555" )
                   ( "VT26_TOP" "1779629682" )
                  )
hnlLastDesignVars = '( )
