hnlLastStopCellInfo = '(
                           ( "PRIMLIB" "nmos4" "auCdl" "47" "1490269042" )
                          ( "PRIMLIB" "rpolyhc" "auCdl" "46" "1438672402" )
                          ( "PRIMLIB" "pmos4" "auCdl" "47" "1490269046" )
                          ( "PRIMLIB" "cvar" "auCdl" "43" "1340881455" )
                          ( "PRIMLIB" "pcapacitor" "auCdl" "32" "1424852050" )
                          ( "PRIMLIB" "cpoly" "auCdl" "30" "1424852043" )
                          ( "PRIMLIB" "vert10_4" "auCdl" "50" "1458908670" )
                       )
hnlLastTopViewWasConfig = 0
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastNetlistRevision = "__Revision2"
hnlLastOptimizeCellGenerationInConfig = nil
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "FBIAS" "1776091560" )
                   ( "CORELIBD" "1329740398" )
                   ( "PRIMLIB" "1351690742" )
                   ( "POWER_TRACKS" "1778921371" )
                  )
hnlLastDesignVars = '( )
